---
import "../styles/global.css";
import CardModal from "./CardModal.jsx";

const { deg, img, title, subtitle, text, zoom = true } = Astro.props;
const gradient = `linear-gradient(${deg}deg, black 30%, white 50%, black 70%)`;
---

<div
  class="mb-4 break-inside-avoid p-[2px] rounded-xl"
  style={`background-image: ${gradient};`}
>
  <CardModal client:load img={img} title={title} subtitle={subtitle} text={text} zoom={zoom}/>
</div>
